<div class="global">

   <aside>
    <img src="assets/Bolsas.net.png">
    <h2>Bolsas com o maior nível de qualidade<br>
        <p class="voce"> para você.</p> </h2>
   </aside>
   <main>
        <img class="logo" src="assets/logo.png">
        <button class="botao-google" type="submit"><img src="assets/google-icon.svg"> Entre com o Google</button>
        <p>ou entre com seu email e senha</p>
        
        <form>
        <label for="email">Digite seu email</label>
        <input type="email" id="email" name="email" placeholder="email@email.com">


        <label for="password">Digite sua senha</label>
        <input type="password" id="password" name="password" placeholder="Digite sua senha">

        <button class="entrar" type="submit">Entrar</button>
        <p>Não possui cadastro? <a href="#">Clique aqui</a></p>
    </form>
   </main> 
</div>